*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.flex-menu{
    display: flex;
    flex-direction: row;
}
.flex-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 66, 24);
}
.flex-container>div{
    margin: 10px;
    border: 10px solid #0c5e08;
    padding: 10px;
    background-color: rgb(67, 138, 2);
    box-sizing: content-box;
}
.header{
    padding: 60px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.navbar{
    display: flex;
    background-color: rgb(1, 150, 28);
}
.navbar a{
    color: rgb(0, 255, 85);
    padding: 10px 14px;
    text-decoration: none;
    text-align: center
}

.navbar > a:hover{
    color: rgb(0, 247, 255);
    background-color: rgb(0, 68, 9);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
}
.main{
    flex: 70%;
    background-color: antiquewhite;
    padding: 25px;
    box-sizing: border-box;
}
.footer{
    text-align: center;
    padding: 20px;
    background-color: aqua;
}
@media screen and (max-width:700px) {
    .row 
    .navbar{
        flex-direction: column;
    }
}
